@charset "UTF-8";

@media screen and (min-width: 481px) and (max-width: 768px) { /* Tablet */
    
    section#cadastro {
        width: 85vw;
        height: 240px;
    }

    section#cadastro > div#imagem {
        float: left;
        width: 32%;
        height: 95%;
        margin-left: 50px;
    }

    section#cadastro > div#formulario{
        float: right;
        width: 55%;
    }

    div#formulario > p {
        font-size: 0.8em;
    }

    form > div.campo {
        height: 40px;
    }
    
    form input {
        border-radius: 0px 10px 10px 0px;
    }

}

@media screen and (min-width: 769px) { /* Desktop*/
    
    section#cadastro {
        width: 560px;
        height: 260px;
    }

    section#cadastro > div#imagem {
        float: right;
        width: 42%;
        height: 100%;
        margin-right: 24px;
    }

    section#cadastro > div#formulario {
        float: left;
        width: 49%;
    }

    div#formulario > h1 {
        font-size: 1.0em;
    }

    div#formulario > p {
        font-size: 0.9em;
        margin: 15px 0px;
    }

    form > div.campo {
        height: 40px;
    }

    form input {
        border-radius: 0px 10px 10px 0px;
    }
}