@charset "UTF-8";

/* Mobile */

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: #E5EFFF;
}

header {
    position: relative;
    background-color: #E5EFFF;
    padding: 15px;
}

header p {
    text-align: center;
}

header img {
    height: 45px;
}

div.wrapper {
    display: flex;
}

aside#sidebar {
    width: 40px;
    min-width: 40px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    display: flex;
    flex-direction: column;
    background-color: #041d44;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
}

aside#sidebar.expand{
    width: 260px;
    min-width: 260px;
}

button#toggle-btn{
    background-color: transparent;
    border: 0;
    cursor: pointer;
    padding: 1rem .4rem;
}

button#toggle-btn i {
    font-size: 1.5rem;
    color: white;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

.sidebar-nav{
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: .500rem .5rem;
    color: white;
    display: block;
    font-size: 1rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
    text-decoration: none;
}

.sidebar-link i{
    font-size: 1.2rem;
    margin-right: .75rem;
}

a.sidebar-link:hover{
    background-color: rgba(255, 255, 255, .075);
    border-left: 3px solid #3b7ddd;
}

.sidebar-item {
    position: relative;
}

main {
    background-color: white;
    padding: 10px;
    overflow: hidden;
    margin-left: 40px;
}

main section {
    font-size: 1em;
    margin: auto;
    text-indent: 2em;
    text-align: justify;
}

footer {
    background-color: black;
    color: white;
    padding: 10px;
    margin-left: 40px;
}

footer h1 {
    padding-bottom: 40px;
    font-size: 1.5em;
}

footer h2 {
    display: inline-flex;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 15px;
    font-size: 1.4em;
}

footer h2 > i {
    display:block;
}

footer  a#endereco {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

footer  a#endereco:hover {
    text-decoration: none;
}

footer div {
    width: 100%;
    border-bottom: 1px solid white;
    padding-top: 50px;
}

footer p#direitos{
    padding-top: 20px;
    padding-bottom: 30px;
}

footer p#direitos > a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-weight: bolder;
}

footer p#direitos > a:hover {
    text-decoration: none;
}