@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) { /* Tablet */
    
    body {
        overflow-x: hidden;
        display: block;
    }

}

@media screen and (min-width: 992px) { /* Desktop*/

    body {
        overflow-x: hidden;
        display: block;
    }

    header img {
        height: 79px;
    }
    
    header p {
        text-align: center;
    }

    header i {
        font-size: 3.8em;
        padding-top: 50px;
    }

    menu {
        display: block; 
    }
    
}