@charset "UTF-8";

/* Mobile */

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: #E5EFFF;
}

header {
    position: relative;
    background-color: #E5EFFF;
    padding: 10px;
}

header h1 {
    display:inline-flex;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
}

header i {
    font-size: 2.3em;
    color: black;
    cursor: pointer;  
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px; 
}

menu {
    display: none;
    text-align: center;
    padding: 10px;
}

menu a {
    padding: 4px;
    text-decoration: none;
    color: #06265B;
    font-size: 1.5em;
    padding-right: 7px;
    padding-left: 7px;
    transition-duration: 0.5s;
}

menu a:hover{
    text-align: center;
    background-color: #06265B;
    color: white;
    border-radius: 6px;
}

menu li {
    display: inline-block;
}

main {
    background-color: white;
    padding: 10px;
}

footer {
    background-color: black;
    color: white;
    padding: 10px;
}

footer h1 {
    padding-bottom: 40px;
    font-size: 1.5em;
}

footer h2 {
    display: inline-flex;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 15px;
    font-size: 1.5em;
}

footer h2 > i {
    display:inline-flex;
}

footer  a#endereco {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

footer  a#endereco:hover {
    text-decoration: none;
}

footer div {
    width: 100%;
    border-bottom: 1px solid white;
    padding-top: 70px;
}

footer p#direitos{
    padding-top: 20px;
    padding-bottom: 30px;
}

footer p#desenvolvido {
    padding-bottom: 20px;
}

footer p#desenvolvido > a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-weight: bolder;
}

footer p#desenvolvido > a:hover {
    text-decoration: none;
}